<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lấy lại mật khẩu - cvonline.com</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/reset-password.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="auth-container">
            <div class="inner">
                <a href="<%= href %>" target="_blank" rel="noopener">
                    <img src="/img/cv-ung-vien.png" alt="logo" class="logo"
                /></a>

                <div class="reset-password-container">
                    <form class="form-reset-password" method="POST">
                        <p class="title">Tạo lại mật khẩu của bạn</p>

                        <p class="<%= errorMessage ? 'message error' : 'message' %>"><%= errorMessage%></p>

                        <div class="form-group <%= fieldError === 'password' ? 'error' : '' %>">
                            <label htmlFor="password" class="label"> Mật khẩu mới </label>
                            <div class="input-container">
                                <div class="left-icon-container"><i class="fa-solid fa-user-shield"></i></div>
                                <input
                                    type="password"
                                    id="password"
                                    class="input"
                                    name="password"
                                    value="<%= values.password%>"
                                    placeholder="Nhập mật khẩu mới"
                                />
                                <div class="toggle-show-password">
                                    <i class="fa-solid fa-eye green-eye"></i>
                                    <i class="fa-solid fa-eye-slash grey-eye"></i>
                                </div>
                            </div>
                            <div class="message-container">
                                <ul class="rule-password">
                                    <li>Mật khẩu từ 6 đến 25 ký tự</li>
                                    <li>Bao gồm chữ hoa, chữ thường và ký tự số</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group <%= fieldError === 'confirmedPassword' ? 'error' : '' %>">
                            <label htmlFor="confirmedPassword" class="label"> Xác nhận mật khẩu mới</label>
                            <div class="input-container">
                                <div class="left-icon-container"><i class="fa-solid fa-user-shield"></i></div>
                                <input
                                    type="password"
                                    id="confirmedPassword"
                                    class="input"
                                    name="confirmedPassword"
                                    value="<%= values.confirmedPassword%>"
                                    placeholder="Nhập lại mật khẩu"
                                />
                                <div class="toggle-show-password">
                                    <i class="fa-solid fa-eye green-eye"></i>
                                    <i class="fa-solid fa-eye-slash grey-eye"></i>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="submit-btn">Tạo lại mật khẩu</button>
                    </form>

                    <div class="switch-to-signin-signup">
                        <a href="<%= href %>/signin" class="btn">Đăng nhập</a>

                        <a href="<%= href %>/signup" class="btn">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Redirect to Sign In Page when change password successfully
            const errorCode = '<%- JSON.stringify(errorCode)%>';
            if (JSON.parse(errorCode) === 0) {
                const isRedirect = confirm('Đổi mật khẩu thành công. Bạn có muốn đăng nhập ngay?');
                if (isRedirect) {
                    window.location.href = '<%= href %>/signin';
                }
            }

            // Show and Hide Password
            const showPasswordButton = document.querySelectorAll('.toggle-show-password');
            if (showPasswordButton.length > 0) {
                showPasswordButton.forEach((button) => {
                    button.onclick = function () {
                        const isShow = this.classList.contains('show');
                        const inputEl = this.parentElement.querySelector('.input');

                        if (inputEl) {
                            if (isShow) {
                                this.classList.remove('show');
                                inputEl.type = 'password';
                            } else {
                                this.classList.add('show');
                                inputEl.type = 'text';
                            }
                        }
                    };
                });
            }
        </script>
    </body>
</html>
